* {
  margin: 0;
  padding: 0;
}

.navigation {
  position: Fixed;
  width: 100%;
  height: 150px;
}

.navigation .menunavigation {
  display: flex;
  justify-content: center;
  background-color: #0a0a0a;
}
.navigation .productnavigation {
  background-color: #141414;
}
.navigation .container {
  width: 900px;
  height: 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navigation .container .list {
  margin: 15px 0px 15px 0px;
  list-style: none;
  text-decoration: none;
}
.navigation .container a {
  color: rgb(231, 228, 228);
  font-family: "Muli", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.navigation .container .logo {
  list-style: none;
  text-decoration: none;
  background-image: url(/assets/images/menunav/applelogo.svg);
  background-size: 55px 55px;
  background-repeat: no-repeat;
  width: 55px;
  margin: 0;
}

.navigation .container .logo2 {
  list-style: none;
  text-decoration: none;
  background-image: url(/assets/images/menunav/search.svg);
  background-size: 55px 55px;
  background-repeat: no-repeat;
  width: 55px;
  margin: 0;
}
